<header>
    <div class="container">
        <nav class="navbar navbar-dark bg-inverse ">
            <a class="navbar-brand" href="#">X-MEAN-SEED</a>
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#/view1">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#/view2">用户列表</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <div ng-view></div>
</div>
<footer class="container">
    <div class="col-md-4 col-md-offset-4 text-md-center">
        <p>Angular seed app: v<span app-version></span></p>
        <p>&copy 2016 baili All Rights Reserved.</p>
    </div>
</footer>


